{% extends "base.html" %}

{% block footer%}
<div>
<hr>
<p>Please Refer to the table below and submit Typos/Ideas not already included. Thank you for you time!</p>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRaiyCnrNQG3bMceNJYWT7VB9KesKAG72hlJKsB4Vvi3-ukxEsBZsC468_m9j5F7xo0TabOohuwPy1R/pubhtml?gid=694540295&amp;single=true&amp;widget=true&amp;headers=false" height="400"></iframe>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc04qgUvJKLoV3-bd4RCymgwuWfGt5AV-GkqDxxbBxpPXVYmA/viewform?embedded=true" width="640" height="1592" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
{% endblock %}
